.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ddd;
}

table th {
  background-color: #161515;
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  display: inline;
  margin-right: 5px;
}

.pagination li button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.pagination li button:hover {
  background-color: #45a049;
}

.pagination li.active button {
  background-color: #45a049;
}
